{{#each this}}
  <div class='col-12 col-6 col-sm-4'>
    <img
      class='img-fluid rounded lozad'
      src={{webformatURL}}
      alt={{tags}}
      data-src={{webformatURL}}
    />
    <div class='d-inline-flex justify-content-center'>
      <p class='p-1'>
        <i class='material-icons-round badge rounded-pill bg-light text-dark'>thumb_up_off_alt
        </i>
        {{likes}}
      </p>
      <p class='p-1'>
        <i class='material-icons-round badge rounded-pill bg-light text-dark'>visibility</i>
        {{views}}
      </p>
      <p class='p-1'>
        <i class='material-icons-round badge rounded-pill bg-light text-dark'>comment</i>
        {{comments}}
      </p>
      <p class='p-1'>
        <i class='material-icons-round badge rounded-pill bg-light text-dark'>cloud_download
        </i>
        {{downloads}}
      </p>
    </div>
  </div>
{{/each}}
